<ion-content>
    <div class="list">
        <label class="item item-input">
            <input type="text" placeholder="请输入用户名称" ng-model="data.username">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="请输入密码" ng-model="data.pwd">
        </label>
        <label class="item item-input">
            <input type="tel" placeholder="请输入手机号" ng-model="data.phone">
        </label>
        <button ng-click="register_btn()" class="button button-block">注册</button>
    </div>
</ion-content>